<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Cadastro de Personagem</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()">


                        <div class="form-group" ng-class="{'has-error' : !form.tipo_personagem.$valid && form.tipo_personagem.$touched}">
                            <label class="col-md-4 control-label">Personagem</label>
                            <div class="col-md-6">
                                <select name="tipo_personagem" class="form-control" ng-model="personagem.tipo_personagem"
                                        ng-options="o.value as o.name for o in tipo_personagens"  required>
                                    <option value="">Selecione o personagem</option>
                                </select>
                                <div ng-messages="form.tipo_personagem.$error" class="help-block" ng-show="form.tipo_personagem.$touched">
                                    <div ng-message="required"> Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !form.nome.$valid && form.nome.$touched}">
                            <label class="col-md-4 control-label">Nome</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="nome" ng-model="personagem.nome" required>
                                <div ng-messages="form.nome.$error" class="help-block" ng-show="form.nome.$touched">
                                    <div ng-message="required"> Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : !form.ponto_vida.$valid && form.ponto_vida.$touched}">
                            <label class="col-md-4 control-label">Ponto Vida</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="ponto_vida" ng-model="personagem.ponto_vida" required>
                                <div ng-messages="form.ponto_vida.$error" class="help-block" ng-show="form.ponto_vida.$touched">
                                    <div ng-message="required"> Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : !form.ponto_forca.$valid && form.ponto_forca.$touched}">
                            <label class="col-md-4 control-label">Ponto Força</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="ponto_forca" ng-model="personagem.ponto_forca" required>
                                <div ng-messages="form.ponto_forca.$error" class="help-block" ng-show="form.ponto_forca.$touched">
                                    <div ng-message="required"> Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : !form.ponto_agilidade.$valid && form.ponto_agilidade.$touched}">
                            <label class="col-md-4 control-label">Ponto Agilidade</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="ponto_agilidade" ng-model="personagem.ponto_agilidade" required>
                                <div ng-messages="form.ponto_agilidade.$error" class="help-block" ng-show="form.ponto_agilidade.$touched">
                                    <div ng-message="required"> Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : !form.arma.$valid && form.arma.$touched}">
                            <label class="col-md-4 control-label">Arma</label>
                            <div class="col-md-6">
                                <select name="arma" class="form-control" ng-model="personagem.arma_id" required>
                                    <option value="">Selecione a arma</option>
                                    <option ng-repeat="item in armas" value="{{item.id}}">{{item.tipo_arma + " ( A: "+ item.ponto_ataque +  " | D: "+ item.ponto_defesa + " )"}}</option>

                                </select>

                                <div ng-messages="form.arma.$error" class="help-block" ng-show="form.arma.$touched">
                                    <div ng-message="required"> Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <p class="clearfix" />
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
