<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Personagem</div>
                <div class="panel-body">
                    <p>Deseja excluir realmente este peronagem>? </p>
                    <ul>
                        <li><strong>Tipo: </strong>{{personagem.tipo_personagem}}</li>
                        <li><strong>Nome: </strong>{{personagem.nome}}</li>
                    </ul>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="button" class="btn btn-danger" ng-click="remove()">
                                Excluir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
