<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Formulário de Batalha</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()">
                        <div class="form-group" ng-class="{'has-error' : !form.personagem1.$valid && form.personagem1.$touched}">
                            <label class="col-md-4 control-label">1o Personagem</label>
                            <div class="col-md-6">
                                <select name="personagem1" class="form-control" ng-model="campoBatalha.personagem1_id" required>
                                <option value="">Selecione o 1o Personagem</option>
                                <option ng-repeat="item in personagens" value="{{item.id}}">{{item.nome + " ("+ item.tipo_personagem + ")"+ " ( V: "+ item.ponto_vida+ " "+ " | F: "+ item.ponto_forca+ " "+ " | A: "+ item.ponto_agilidade+ " )" + " ( Arma: " + item.arma.tipo_arma + " | A: " + item.arma.ponto_ataque + " | D: "+ item.arma.ponto_defesa + " )"}}</option>

                                </select>

                                <div ng-messages="form.personagem1.$error" class="help-block" ng-show="form.personagem1.$touched">
                                    <div ng-message="required"> Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !form.personagem2.$valid && form.personagem2.$touched}">
                            <label class="col-md-4 control-label">2o Personagem</label>
                            <div class="col-md-6">
                                <select name="personagem2" class="form-control" ng-model="campoBatalha.personagem2_id" required>
                                    <option value="">Selecione o 2o Personagem</option>
                                    <option ng-repeat="item in personagens" value="{{item.id}}">{{item.nome + " ("+ item.tipo_personagem + ")"+ " ( V: "+ item.ponto_vida+ " "+ " | F: "+ item.ponto_forca+ " "+ " | A: "+ item.ponto_agilidade+ " )" + " ( Arma: " + item.arma.tipo_arma + " | A: " + item.arma.ponto_ataque + " | D: "+ item.arma.ponto_defesa + " )"}}</option>

                                </select>

                                <div ng-messages="form.personagem2.$error" class="help-block" ng-show="form.personagem2.$touched">
                                    <div ng-message="required"> Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <p class="clearfix" />
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Lutar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
